{% extends "portfolio_core/base.html" %}

{% block content %}

<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom border-warning">SERVICES</h1>
    <div class="row text-white mb-5 text-center">
        <div class="col-sm-4 ">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Database Managements</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
    </div>
    <div class="row text-white mb-5 text-center">
        <div class="col-sm-4 ">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Database Managements</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
    </div>
    <div class="row text-white mb-5 text-center">
        <div class="col-sm-4 ">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
        <div class="col-sm-4 ">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Database Managements</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis tenetur,onsectetur adipisicing.</p>
        </div>
    </div>
    
</div>

{% endblock %}